<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGGLY_TOKEN" value="fcb37a7c-eaaa-45a2-a91b-8a76a744ed60"/>
    <property name="APP_NAME" value="topic42" />
    
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="GcuConsole" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- ✅ NEW: Loggly HTTP Appender -->
    <appender name="LOGGLY" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>logs-01.loggly.com</syslogHost>
        <port>514</port>
        <facility>USER</facility>
        <suffixPattern>[%thread] %-5level %logger{36} - %msg%n</suffixPattern>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [${APP_NAME}] [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="LOGGLY"/>
    </root>

    <logger name="com.gcu" level="trace" additivity="false">
        <appender-ref ref="GcuConsole" />
        <appender-ref ref="LOGGLY" />
    </logger>
</configuration>
