<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGGLY_TOKEN" value="fcb37a7c-eaaa-45a2-a91b-8a76a744ed60"/>
    <property name="LOGGLY_HOST" value="logs-01.loggly.com"/>
    <property name="LOGGLY_PORT" value="514"/>

    <appender name="LOGGLY" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGGLY_HOST}:${LOGGLY_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"token":"${LOGGLY_TOKEN}","appname":"topic42","environment":"dev"}</customFields>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="LOGGLY" />
    </root>

    <logger name="com.gcu" level="TRACE" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="LOGGLY" />
    </logger>

</configuration>
